<p id="notice"><%= notice %></p>

<h1>Listing Lectures</h1>

<p id="notice"><%= notice %></p>

<h1>All Lectures</h1>
<% @lectures.each do |lecture| %>
<div class = "blog well">
  <h1><%= lecture.title %></h1>

  <%= raw(lecture.content) %>
  <div style="height: 10px;"></div>
  <%= link_to 'Show more >>', lecture %>
  
</div>
<% end %>


