<p id="notice"><%= notice %></p>

<h1>Listing Lectures</h1>
<% @lectures.each do |lecture| %>
<div class = "blog well">
  <%= image_tag lecture.image ,:size=>"150x150" ,class:"pull-right" %>
  <h1><%= lecture.title %></h1>

  <%= raw(lecture.content) %>
  <div style="height: 10px;"></div>
  <%= link_to 'Show more >>', lecture %>
  <% if current_user && current_user.id = @lecture.user_id %>
  <%= link_to 'Edit', edit_lecture_path(lecture) %>
  <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<% end %>
