<p id="notice"><%= notice %></p>

<div class = "blog well text-centered">
  <strong>Title:</strong>
  <%= @lecture.title %><br>
   <strong>Content:</strong>
  <%= raw(@lecture.content) %>
  <strong>Download Link:   </strong>
  <a href="<%= @lecture.attachment_url%>" download><%= @lecture.attachment%></a>
  <%#= link_to "Download File", @lecture.attachment_url. %>
</div>

<div class = "blog well">
    like
<%= link_to like_lecture_path(@lecture), class: "like",method: :put do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @lecture.get_upvotes.size%></span>
</button>
<% end %>

unlike
<%= link_to unlike_lecture_path(@lecture), class: "unlike",method: :put do %>
<button type="button" class="btn btn-danger" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @lecture.get_downvotes.size%></span>
</button>
<%#*if 5 user dislike the lecture it is considered as spam%>
  <% if @lecture.get_downvotes.size == 5 %>
    <% Lecture.destroy(@lecture.id) %>
  <% end %>
<% end %>
</div>
<br><hr> 

<div class="row">
   
<%#= render 'comments/comment_form' %>
    <div class="row">
      <h2>Comments</h2>
      <div id="comments">
       <%=  render @lecture.comments %>
      </div>
    </div>
    <% if current_user %>
    <div class="row">
    <%= form_for [@lecture,Comment.new] do |f|%>
    <div class="form-group col-md-9 col-md-offset-2">
      <%=f.label :comment_title,"title",class:"text-center" %>
      <%= f.text_field :comment_title ,class:"form-control" %>
    </div>
        <div class="col-md-offset-1 col-md-1">
          <%=image_tag current_user.profile_picture,width:45,height:45 %>
        </div>
    <div class="form-group col-md-7">
      <%=f.label :body,"Add comment",class:"text-center" %>
      <%= f.text_area :body, as: :text, input_html: {rows: "5"}, class:"form-control" %>
    </div>
    <%= f.hidden_field :lecture_id, :value => @lecture.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :course_id, :value => @lecture.course_id %>
    </div>
    <div class="row">
      <div class="col-md-offset-2 form-group">
        <%= f.submit "Add Comment", class:"btn btn-info" %>
      </div>
    </div>
    <% end %>
    <% else %>
    <div class="alert alert-warning">
      <strong>Warning!</strong> Login to add your comment.
    </div>
    <% end %>    
</div>

<div class="col-md-offset-2">
<% if current_user && current_user.id == @lecture.user_id %>
  <%= link_to 'Edit', edit_lecture_path(@lecture) ,class:"btn btn-warning"%> 
  <%= link_to 'Destroy', @lecture, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-danger"%> 
<% end %>
<%= link_to 'Back', course_path(:id=>@lecture.course_id),class:"btn btn-info"%>
</div>
<div style="height: 50px;"></div>