<!DOCTYPE html>
<html>
<head>
  <title>MOOCBlog</title>
  <%= javascript_include_tag :ckeditor %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container" style = "padding-top:20px;">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="padded">
          <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="btn navbar-brand" href="#">Alemny</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <% if current_user %>
                <li>
                    <a href="#"><img src="<%=  current_user.profile_picture %>" class=" profile-image img-circle img-responsive" height="60px" width="60px">
                   </a>
                </li>
                
                <li>
                    <a href="#">
                     <b style="color: white; font-size: 14px;"> <%= current_user.name %> </b>
                    </a>
                </li>
                <li><%= link_to "Update Profile", edit_user_registration_path(:id=>current_user.id)  %></li>    
              <% end %>
              <li><%= link_to "Lectures", lectures_path  %></li>
              <li><%= link_to "Courses", courses_path  %></li>
              <% if current_user && current_user.user_type == "instructor" %>
              <li><a href="/courses/new">Add Course   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              </li>
              <li>
                <a href="/users/sign_out" data-method="delete">Sign out</a>
                <%#= link_to "" ,destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li><%= link_to "Sign in" ,new_user_session_path %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>    

<%= yield %>
</div>
</body>
</html>
