<p id="notice"><%= notice %></p>

  <strong>Title:</strong>
  <%= raw(@course.course_title) %><br>
  <% @course.lectures.each do |k| %>
	<li><%= link_to k.title, lecture_path(k) %></li>
  <%  end %>

<br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<%= link_to 'Add Lecture', new_lecture_path(:course_id =>@course.id) %>
<%#= link_to 'Lectures', lectures_course_path(@course) %>
